@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
p {
  font-family: "Dancing Script", cursive;
}
body {
  /* background-image: url(https://images.wallpaperscraft.com/image/single/starry_sky_stars_dots_195761_1400x1050.jpg); */
  background: linear-gradient(90deg, #cac7bf 0%, #c58585 100%);
}
.wrapper {
  width: 98%;
  margin: 10px 10px;
  outline: solid rgb(12, 12, 12);
  border-radius: 0.5%;
  justify-content: center;
  /* background-image: url(https://images.wallpaperscraft.com/image/single/starry_sky_stars_dots_195761_1400x1050.jpg); */
}
img {
  width: 100%;
  border-radius: 5%;
}
img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.05);
  transition: 0.2s;
}
.vid{position: relative;
  display: flex;
align-items: center;
justify-content: center;}

video {
  height: 100vh;
  width: 100%;
}
h3{
position: absolute;
color:red;
font-size: xx-large;
font-family: "Dancing Script", cursive;
}


nav {
  border: solid rgb(3, 3, 3);
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: space-around;
  background: linear-gradient(90deg, #cac7bf 0%, #c58585 100%);
}

/* div {
}
table {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
} */
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
/* tr th {
  border: 1px solid gray;
  background-color: gray;
  text-align: left;
  width: max-content;
  opacity: 0.6;
}
tr th:hover {
  background-color: rgb(56, 55, 55);
  transition: 1s;
  opacity: 1; */

h1 {
  text-align: center;
  color: rgb(226, 43, 43);
}
@media (max-width: 720px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  tr th {
    display: none;
  }
}
